  body
  {
  padding:5%;
  padding-top:10px;
  }

  #articlelist
  {
  display:		table-cell;
  min-width:		200px;
  width:		200px;
  border-color:		black;
  border-width:		1px;
  border-style:		solid;
  padding:		0px 10px 0px 10px;
  margin-right:		10px;		/*不起作用？*/
  }

  .article 
  {
  display:		table-cell;
  width:		800px;
  background-image:	url(../img/travelbackground.jpg);
  border-color:		black;
  border-width:		1px;
  border-style:		solid;
  text-align:		center;	
  margin-right:		10px;
  }
  #something
  {
  display:		table-cell;
  width:		2px;
  }		

  #header
  {
  width:		1020px;
  }

  div#tablecontainer
  {
  display:		table;
  }
  div#tablerow
  {
  display:		table-row;
  }  
  
  #weibo
  {
  color:		black;
  float:		right;
  }  


  #footer
  {
  width:		1020px;
  color:		white;
  border-color:		black;
  border-style:		solid;
  border-width:		1px;
  padding:		2px;
  text-align:		center;
  background-color:	black;
  }
